<div class="row">
  <div class="col comp-style">
    <h1>PART #1</h1>
    <p>This is what we talked in the meeting - so i did it before you sent the mission...</p>
  </div>
</div>
<div class="row">
  <div class="col comp-style">
    <app-comp-a></app-comp-a>
  </div>

  <div class="col comp-style">
    <app-comp-a></app-comp-a>
  </div>

  <div class="col comp-style">
    <app-comp-b></app-comp-b>
  </div>
</div>

<div class="row">
  <div class="col comp-style">
    <h1>PART #2</h1>
    <p>The mail mission</p>
  </div>
</div>
<div class="row">
  <div class="col comp-style">
  <app-note-create></app-note-create> 
  </div>
  <div class="col comp-style">
   <app-note-list></app-note-list>
  </div>
</div>